<div class="container">
  <mat-card-title class="d-flex justify-content-center pb-2">Records</mat-card-title>
  <div class="row">
    <div class="col-md-3" *ngFor="let data of dataSource">
        <div class="drag-container">
          <div class="section-heading">{{ data.departmentName }} Department</div>
    
          <div cdkDropList id="{{ data.departmentName }}" [cdkDropListData]="data.empName"
            [cdkDropListConnectedTo]="connectedTo" class="employee-list" (cdkDropListDropped)="drop($event)">
            <div class="employee-box" *ngFor="let employee of data.empName" cdkDrag>{{ employee }}</div>
          </div>
        </div>
    </div>
  </div>
</div>

<!--  Tabular Implementation
  <mat-card>
  <mat-card-title class="text-center">Records</mat-card-title>
  <table class="table text-center">
    <tbody>
      <div>
        <span *ngFor="let data of dataSource">
        <td  class="border">
        <div class="bg-info text-white ">
            {{ data.departmentName }}
        </div>
        <div cdkDropList id="{{ data.departmentName }}" [cdkDropListData]="data.empName" [cdkDropListConnectedTo]="connectedTo"
         (cdkDropListDropped)="drop($event)" class="employee-list">  
        <div *ngFor="let emp of data.empName" class="employee-box" cdkDrag>
          {{ emp }}
         </div>
        </div>
        </td>
        </span>
      </div>
    </tbody>
  </table>
</mat-card> -->