<div class="container">
  <mat-card-title class="d-flex justify-content-center pb-2">Records</mat-card-title>
  <div class="row">
    <div class="col-md-3" *ngFor="let data of dataSource">
        <div class="drag-container">
          <div class="section-heading">{{ data.departmentName }} Department</div>
    
          <div cdkDropList id="{{ data.departmentName }}" [cdkDropListData]="data.empName"
            [cdkDropListConnectedTo]="connectedTo" class="employee-list" (cdkDropListDropped)="drop($event)">
            <div class="employee-box" *ngFor="let employee of data.empName" cdkDrag>
    
              <span class="employee" (dblclick)="editEName($event)" matTooltip="Double tap to edit">
                    {{ employee }}
              </span>
              <input class="employee-edit" [(ngModel)]="value" (blur)="saveEName($event,data.departmentName,employee)">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>